/*Clases de Login.js*/
:root {
  --backgroundGeneral: #212121;
  --backgroundcomponents: #212121;
  --contrastColor: #4098d3;
  --borderColor: #dddddd;
  --gold: #d49b54;
  --colorText: #ffffff;
}

body {
  background-color: var(--backgroundGeneral);
}
/*Estilos Generales*/
.icon {
  color: var(--contrastColor);
  cursor: pointer;
  margin: 0 0.5rem 0 0.5rem;
}

.backgroundVideo {
  position: fixed;
  filter: blur(5px);
  right: 0;
  bottom: 0;
  min-width: 100vh;
  min-height: 100vw;
  z-index: 0;
}

.form-control:focus {
  border-color: #ff0000;
  box-shadow: inset 0 0.1px 0.1px rgba(0, 0, 0, 0.075), 0 0 8px var(--colorText);
}
.backdrop {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/*Clases de componente HomeHeader*/

.mainNav {
  padding-top: 2rem;
  position: relative;
  z-index: 3;
  width: 100%;
  margin-bottom: 1rem;
  background-color: re;
  font-size: 1.2rem;
}
.navContainer{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.brandLogo {
  width: 25rem;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 5rem 0 5rem;
  max-width: none;
}
.navbarLogo {
  width: 2.5rem
}

/*Clases de Componente LoginForm*/

.login-container {
  margin-top: -5rem;
  position: relative;
  color: white;
  display: flex;
  justify-self: center;
  align-self: center;
  width: 30%;
  min-width: 44rem;
  z-index: 2;
}

.perks {
  background-color: var(--contrastColor);
  z-index: 2;
  width: 50%;
  padding: 15% 30px 15% 30px;
}
.perkList {
  display: flex;
  width: 100%;
  flex-direction: row;
  list-style: none;
  margin-left: -30px;
}

.login-form {
  color: white;
  background-color: rgba(47, 47, 47, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  right: 0;
}

.landingBody {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.loginBtn {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}
.outline-btn {
  background-color: var(--contrastColor);
}
.outline-btn:hover {
  color: var(--contrastColor);
  background-color: var(--borderColor);
}

.filled-btn {
  background-color: transparent;
  border: none;
  color: var(--contrastColor);
}

.socialIconButtpn {
  filter: grayscale(100);
}

.socialIconButtpn:hover {
  filter: grayscale(0);
}

.login-image {
  width: 4rem;
}
/*estilos componente navbar*/
.navigation-Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--backgroundGeneral);
  position: fixed;
  top: 0;
  color: var(--colorText);
  width: 100vw;
  height: 7vh;
  z-index: 15;
  min-width: 97vw;
}
.search-container {
  width: 38vw;
}

.searchbar {
  border: none;
  color: var(--borderColor);
  background-color: #545454;
}

.searchbar:focus {
  background-color: #545454;
  color: var(--borderColor);
}

/*Scroll Style*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: var(--borderColor);
}


/*Estilos de searchFilters*/
.searchSettings-container {
  color: var(--colorText);
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 7vh;
  width: 88vw;
  background-color: var(--backgroundcomponents);
}

.search-form {
  border-radius: 2px;
  background-color: var(--backgroundcomponents);
  border: none;
  border-bottom: solid var(--borderColor);
}
.search-form:focus {
  color: var(--colorText);
  box-shadow: none;
  border-radius: 2px;
  background-color: var(--backgroundcomponents);
  border: none;
  border-bottom: solid var(--contrastColor);
}

/*Estilos Dashboard*/
.dashboard-container {
  overflow: hidden;
}
.card-container {
  position: relative;
  top: 2.2rem;
  padding: 0 8rem 0 8rem;
  overflow-y: scroll;
  max-height: 78vh;
  background-color: var(--backgroundGeneral);
}
.card {
  border-radius: 5px;
  border: none;
  opacity: 0.9;
  min-height: 50vh;
}
.card-project-img {
  width: 5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.card-header {
  background-color: var(--contrastColor);
  color: var(--colorText);
  border: none;
}
.card-body {
  background-color: var(--contrastColor);
  color: var(--colorText);
}
.mobile-dashboard-bar {
  display: none;
}
/* Clases de componentes de userProfile */
.information-container {
  top: 380px;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.information-container-right {
  display: flex;
  flex-direction: column;
}
/* Profile component */
.profile-Container {
  display: flex;
}
.profile-bg-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.profile-data-container {
  width: auto;
}
.profile-about {
  display: flex;
  justify-content: space-between;

}
.profile-about-avatar-img {
  position: absolute;
  top: 120px;
  left: 50px;
}
.profile-about-me {
  position: absolute;
  left: 220px;
}
.profile-about-me-name {
  font-weight: bold;
  color: var(--colorText);
  font-size: 30px;
  font-weight: bold;
}
.profile-about-me-description {
  color: var(--colorText);
  font-size: 15px;
  text-align: justify;
}
.profile-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 40px;
  top: 30px;
}
.button {
  color: var(--colorText);
  border-color: var(--borderColor);
}
.profile-actions-more-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.profile-actions-message-btn {
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
.profile-actions-follow-btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--contrastColor);
}
/* AboutMe componet */
.aboutMe-container {
  width: 400px;
  height: auto;
  margin-left: 150px;

}
.aboutMe-experience {
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
.title {
  font-size: 20px;
  color: var(--contrastColor);
}
.text {
  font-size: 15px;
  color: var(--colorText);
  text-align: justify;
  margin-top: 5px;
}
.btn-readMore {
  color: var(--colorText);
  text-transform: none;
  font-weight: bold;
  margin-left: -10px;
  font-size: 15px;
}
.btn-icon {
  color: var(--contrastColor);
}
/* GeneralDataUP component */
.generalData-container {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 250px;

}
.title {
  font-size: 20px;
  color: var(--contrastColor);
}
.data {
  color: var(--colorText);
  text-align: justify;
  margin-top: 5px;
}
.generalData-skills-chips {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chips-container {
  max-width: 350px;
  max-height: 80px ;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin-bottom: 10px;
  margin-top: 5px;
}
.chips-container::-webkit-scrollbar {
  display: none;
}
.chip {
  color: var(--colorText);
  margin: 4px;
}
.generalData-skills-addButton-icon {
  color: var(--contrastColor);
  font-size: 45px;
}
/* MyProjectsUP component */
.myProjects-container {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}
.myProjects-carousel {
  height: 200px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.carousel-item {
  height: 200px;
}

/*Project details styles*/
.projectDetailsimg{
  width: 9rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.projectBanner{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.BlueTitle{
  color: var(--contrastColor);
  width: fit-content;
  border-bottom: 3px solid var(--borderColor) ;
  line-height: 1.8;
}
.projectTitle{
  color: var(--colorText);
  width: fit-content;

}

.ProjectDescription{
  padding-top: 2rem;
  max-width:50vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.userAvatar{
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  align-self: center;
  vertical-align:middle;
  margin-bottom: 10px;

}
.avatarName{
  color: var(--colorText);
  margin-left: 10px;
  margin-top:auto;
  margin-bottom: auto;
}
@media (max-width: 768px) {
  /*Login styles mobile*/
  .navContainer{
    display: none;
  }
  .socialGroupButtons {
    display: flex;
    flex-direction: column;
  }

  .backdrop {
    overflow-y: scroll;
    flex: none;
  }
  .login-container {
    overflow-y: scroll;
    margin-top: 0rem;
    height: 100%;
    flex-direction: column-reverse;
    top: 0;
    width: 100%;
    min-width: fit-content;
  }
  
  .perks {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .perkList {
    display: flex;
    justify-content: center;
    padding-left: 1.5rem;
  }
  .perk-component {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .login-form {
    width: 100%;
    top: 0;
  }
  .form-container {
    display: none;
  }
  /*navcomponent styles mobile*/
  .navigation-Bar {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
  }
  .brandLogo {
    width: 3rem;
    align-self: center;
  }
  .navBrand{
    width: 3rem;
  }

  /*chatbar styles mobile*/
  .chatbar {
    display: none;
  }

  /*searchFilters styles mobile*/
  .searchSettings-container {
    display: none;
  }

  .card-container {
    top: 4rem;
    width: 90%;
    margin-left: 2.6rem;
    margin-right: auto;
  }
  .wwa {
    background-color: var(--contrastColor);
    color: #d49b54;
  }

  .mobile-dashboard-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    height: 7vh;
    background-color: var(--backgroundcomponents);
    border-radius: 5px;
    position: relative;
    top: 3rem;
    z-index: 15;
    color: var(--colorText);
  }
  .mainNav {
    background-color: #212121;
  }

  /* Card mobile styles */
  .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    position: relative;
    top: 3rem;
    display: flex;
    width: 80vw;
    margin-left: auto;
    padding: 0;

    overflow-x: hidden;
  }

  /* Clases de componentes de userProfile */
  .information-container {
    flex-direction: column;
  }
  /* Profile component */
  .profile-bg-img {
    height: 180px;
  }
  .profile-about-avatar-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 130px;
    left: 20px;
  }
  .profile-about-me {
    position: absolute;
    left: 20px;
    top: 230px;
  }
  .profile-about-me-name {
    font-size: 25px;
  }
  .profile-actions {
    top: 140px;
    left: -60px;
    display: flex;
  }
  .profile-actions-more-btn {
    width: 20px;
    height: 30px;
    margin-right: 10px;
  }
  .profile-actions-message-btn {
    width: 80px;
    height: 30px;
    margin-right: 10px;

  }
  .profile-actions-follow-btn {
    width: 100px;
    height: 30px;
    margin-right: 10px;

  }
  /* AboutMe componet */
  .aboutMe-container {
    width: 300px;
    margin-left: 40px;
  }
  /* GeneralDataUP component */
  .generalData-container {
    width: 300px;
    margin-left: 40px;
  }
  /* MyProjectsUP component */
  .myProjects-container {
    width: 300px;
    margin-left: 40px;
  }
  .myProjects-carousel {
    height: 180px;

  }
  .carousel-item {
    height: 180px;
  }
}
