/*Clases de Login.js*/
:root {
  --backgroundGeneral: #212121;
  --backgroundcomponents: #2f2f2f;
  --blue: #6e85b2;
  --borderColor: #dddddd;
  --gold: #d49b54;
  --colorText: #ffffff;
}

body {
  background-color: var(--backgroundGeneral);
}
/*Estilos Generales*/
.icon {
  color: var(--blue);
  cursor: pointer;
}

.blue-button {
  border: none;
  background-color: var(--blue);
}

.blue-button:hover {
  border: solid 1px var(--borderColor);
  background-color: var(--blue);
  border-color: #dddddd;
}
.gold-button {
  border: none;
  color: var(--backgroundcomponents);
  background-color: var(--gold);
}

.gold-button:hover {
  border: solid 1px var(--backgroundGeneral);
  background-color: var(--gold);
  border-color: #dddddd;
}
.backgroundVideo {
  position: fixed;
  filter: blur(5px);
  right: 0;
  bottom: 0;
  min-width: 100vh;
  min-height: 100vw;
  z-index: 0;
}

.form-control:focus {
  border-color: #ff0000;
  box-shadow: inset 0 0.1px 0.1px rgba(0, 0, 0, 0.075), 0 0 8px var(--colorText);
}
.backdrop {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/*Clases de componente HomeHeader*/
.navContainer {
  width: 100%;
  position: relative;
  display: block;
  top: 0;
}
.mainNav {
  padding-top: 2rem;
  position: relative;
  z-index: 3;
  width: 100%;
  margin-bottom: 1rem;
  background-color: re;
  font-size: 1.2rem;
}

.brandLogo {
  width: 50%;
}

/*Clases de Componente LoginForm*/

.login-container {
  position: relative;
  color: white;
  display: flex;
  justify-self: center;
  align-self: center;
  width: 30%;
  min-width: 44rem;
  z-index: 2;
}

.perks {
  background-color: var(--blue);
  z-index: 2;
  width: 50%;
  padding: 15% 30px 15% 30px;
}
.perkList {
  display: flex;
  width: 100%;
  flex-direction: row;
  list-style: none;
  margin-left: -30px;
}

.login-form {
  color: white;
  background-color: rgba(47, 47, 47, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  right: 0;
}

.landingBody {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.loginBtn {
  padding-left: 50px;
  padding-right: 50px;
}
.socialIconButtpn {
  filter: grayscale(100);
}

.socialIconButtpn:hover {
  filter: grayscale(0);
}

/*estilos componente navbar*/
.navigation-Bar {
  background-color: var(--backgroundcomponents);
  position: fixed;
  color: var(--colorText);
  width: 100vw;
  height: 7vh;
  z-index: 15;
  min-width: 97vw;
}
.search-container {
  width: 38vw;
}

.searchbar {
  border: none;
  color: var(--borderColor);
  background-color: #545454;

}

.searchbar:focus {
  background-color: #545454;
  color: var(--borderColor);
}

/*Estilos de chatbar*/
.chatbar {
  flex-direction: column;
  width: 3vw;
  min-width: 4rem;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 50;
  top: 0;
  background-color: #d49b54;
}
.chatbar-top {
  display: flex;
  justify-content: center;
}

.contacts-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.chatbar-bottom {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  z-index: 60;
}

/*Scroll Style*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: var(--borderColor);
}

/*Estilos projectBar*/
.projectBar-container {
  color: var(--colorText);
  display: flex;
  flex-direction: column;
  height: 99vh;
  width: fit-content;
  position: relative;
  left: 0.5rem;
  top: 5.2rem;
  background-color: var(--backgroundcomponents);
  border-radius: 5px;
}

/*Estilos de searchFilters*/
.searchSettings-container {
  color: var(--colorText);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: -0.5rem;
  top: 1rem;
  min-width: 70vw;
  height: 7vh;
  background-color: var(--backgroundcomponents);
  border-radius: 5px;

}
/*Estilos Dashboard*/
.dashboard-container {
  overflow: hidden;
}
.card-container {
  position: relative;
  top: 2.2rem;
  width: 70vw;
  left: -0.5rem;
  overflow-y: scroll;
  max-height: 78vh;
  background-color: var(--backgroundGeneral);
  border-radius: 5px;
}

.msa {
}
@media (max-width: 768px) {
  /*Login styles mobile*/
  .socialGroupButtons {
    display: flex;
    flex-direction: column;
  }

  .backdrop {
    overflow-y: scroll;
    flex: none;
  }
  .login-container {
    flex-direction: column-reverse;
    align-self: center;
    align-items: center;
    width: 100%;
    min-width: fit-content;
  }
  .perks {
    width: 100%;
    text-align: center;
  }
  .login-form {
    margin-top: 1rem;
    width: 100%;
  }
  .form-container {
    display: none;
  }
  /*navcomponent styles mobile*/
  .navigation-Bar {
    display: flex;
    flex-direction: row;
  }
  /*chatbar styles mobile*/
  .chatbar {
    display: none;
  }
  /*projectbar styles mobile*/
  .projectBar-container {
    display: none;
  }
  /*searchFilters styles mobile*/
  .searchSettings-container {
    display: none;
  }
}
